img{  
position: fixed;
top:0;
left:0;
z-index: -100;
width:1200px;
height:500px;
background-image: url('img_foto1.jpg');
border:1;
}
body {
    background-color:#FF44;
	} 

menu-bar {
	list-style:none;
	padding:0;
	margin:0;

}

h2 {
	font-family:auto;
	color:red;
	} 
h3  {
	font-family:auto;
	color:#ff0098;
	} 

footer {
	background:#499;
	color:#fff;
	padding: -10px;
	text-align:right;
	
	
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: #33;
	text-decoration: none;
	font-size: 30px;
	padding: -10px;
	background:blue;
	border-radius: 50px;
	width:50px;
	line-height:40px;
}
	
	